body{
  text-align: center;
}
img{
  display: inline-block;
  width: 13%;
  height: 13%;
  margin-right: 6px;
}
h2{
  display: inline-block;
}
.title {
  display: flex;        
  align-items: center;
  justify-content: center;
}
input{
  border:1px solid #5B58AD;
  padding: 4px 2px;
}
input::placeholder {
  color: #CDCDCD;
  padding-left: 2px;
}
button{
  background-color: #A0E557;
  color: #000;
  border:0;
  border-radius: 100px;
  font-weight: bold;
  padding: 4px 8px;
  margin-top: 8px;
  outline: 0;
  cursor: pointer;
}
button:focus{
  background-color: #000;
  color: #A0E557;
}
#is_classing,#not_classing{
  display: none;
}
#reload{
  background-color: transparent;
  color: rgb(155, 152, 152);
  border:0;
  border-radius: 0px;
  font-weight: normal;
  padding: 0px;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  font-size:12px;
  transform: scale(0.916);/*11/12=0.916, font-size:11px*/
}